<div class="row">

	<div class="col-sm-8">
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<hr>
				<h3>About the course</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<b>Overveiw</b>:
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<b>Coordinates</b>:
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<b>Zoom</b>:
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div id="img-container" class="tooltip" style="text-align: center">
			<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="https://imsundberg.github.io/concordance/files/knot_cat.png" id="img"></a>
  			<span class="tooltiptext">Knot cat</span>
		</div>
	</div>
</div>
