<div class="row">

	<div class="col-sm-8">
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<hr>
				<h3>About the course</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<b>Course</b>: V5D2 - Selected Topics in Topology - Slice knots and knot concordance
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<b>Coordinates</b>: Tuesdays 10:15-12:00 at MPIM lecture hall
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<b>Zoom</b>: <a href="">link</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<b>Course description</b>: We will learn about slice knots and knot concordance.
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div id="img-container" class="tooltip" style="text-align: center">
			<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="https://imsundberg.github.io/concordance/files/macaroni.png" id="img"></a>
  			<span class="tooltiptext">Knot cat</span>
		</div>
	</div>
</div>
