<div class="row">

	<div class="col-sm-8">
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<hr>
				<h3>About the course</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<b>Course</b>: V5D2 - Selected Topics in Topology - Slice knots and knot concordance
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<b>Coordinates</b>: Tuesdays 10:15-12:00 at MPIM lecture hall
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<b>Zoom</b>: <a href="https://www.zoom.us/j/65367172480">https://www.zoom.us/j/65367172480</a> (password given in class)
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<b>Course description</b>: We will learn about slice knots and knot concordance; see the <a href="https://imsundberg.github.io/concordance/files/Syllabus.pdf">syllabus</a> for details.
			</div>
		</div>
		
<!-- 		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<b>*************************************************************</b><br>
				<b>***************CLASS ONLINE JUNE 20****************</b><br>
				<b>*************************************************************</b>
			</div>
		</div> -->
	</div>
	
	<div class="col-sm-4">
		<div id="img-container" class="tooltip" style="text-align: center">
			<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img style="padding:10px" src="https://imsundberg.github.io/concordance/files/whitehead.png" id="img"></a>
  			<span class="tooltiptext"></span>
		</div>
	</div>
</div>
